* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: linear-gradient(290deg, #00C6E3 0%, #4E95F1 50.37%, #9966FF 100%);
    font-family: 'Roboto', sans-serif;
}

main {
    display: grid;
    gap: 20px;
    justify-items: center;
    width: 85%;    
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 32px 16px rgba(90, 95, 101, 0.3);
}

form {
    display: grid;
    grid-template-columns: 1fr  max-content max-content;
    border: 1px solid #ddd;
    min-width: 500px;
}

input {
    padding: 5px 8px;
    border: none;
}

select {
    padding: 5px 10px 5px 8px;
    border: none;
    border-left: 1px solid #ddd;
}

button {
    border: none;
    padding: 15px;

}

ul {
    list-style: none;
    min-width: 500px;
}

li {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    transition: all 300ms;
}

li:hover {
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0 10px 5px 0 rgba(90, 95, 101, 0.2);
}

.prioridad-alta {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-left: 7px solid #f5c6cb;

}

.prioridad-media {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-left: 7px solid #ffeeba;
}

.prioridad-baja {
    color: #004085;
    border: 1px solid #b8daff;
    border-left: 7px solid #b8daff;
    background-color: #cce5ff;
    color: #004085;
}

/* Loader sacado de https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #4e95f1;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
